node_modules/
uploads/
*.env
*.csv
*.joblib
*BAD_retrain.py
requirements.txt
test_model.joblib
*__pycache__/
terraform/lambda_deployment/.terraform
terraform/prod/.terraform
terraform/prod/.terraform.lock.hcl
terraform/lambda_deployment/.terraform.lock.hcl
test.py
